#frameBoatID {
    width: 860px;
    margin: 50px auto;
    padding: 0;
    border-radius: 25px;
    background-color: rgba(25, 25, 25, 0.5);
    
}

#frameLanding {
    border-radius: 25px;
    margin: 40px 40px;
    background-color: rgba(25, 25, 25, 0.5);
}

#para {
    width: 300px;
    height: 430px;
    padding: 0;
    margin: 40px 10px 10px -50px;
}

#carousel {
    padding: 0;
    width: 800px;
    margin: 30px 180px 10px 10px;
} 

#results {
    border: 0;
    padding: 0;
    margin: 60px 20px 20px;
    display: grid;
    justify-content: center;
    align-content: center;
}


#frameLogin {
    border-radius: 25px;
    margin: 40px 40px;
    background-color: rgba(25, 25, 25, 0.5);
}

#login {
    width: 768px;
    height: 480px;
    padding: 50px;
    margin: 0 auto;
}

#frameU1k {
    border-radius: 25px;
    margin: 40px 40px;
    background-color: rgba(25, 25, 25, 0.5);
}