.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: #1d4b68;
    display: flex;
    justify-content: space-around;
}

.searchbar {
    display: inline-block;
}

.list {
    list-style-type: none;
    background: #1d4b68;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.items {
    margin-right: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #f1f1f1;
}

.btn {
    display: none;
    position: absolute;
    width: 30px;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}

.btnTypo {
    margin-right: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
}

.navbar-logo {
    width: 100px;
}

.logo {
    width: 100%;
}

@media screen and (max-width: 500px) {
    .list {
        flex-direction: column;
        height: auto;
    }
    .items:nth-child(1){
        border-top: 1px solid #fff;
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid #fff;
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }

    .btn {
        display: block;
    }
}