#navbar {
    background-color: #1d4b68!important;
    height: 100px;
    max-width: 100%;
}

.navbar-brand img {
    width: 220px;
    margin: 20px 20px 20px 20px;
}

.mx-auto {
    max-width: 350px;
    
}

#navbarSupportedContent {
    margin-left: 220px;
    padding-left: 30px;
    
}

.nav-item {
    margin-right: 20px
}

.nav-link {
    color: white !important;
}

.rounded-pill {
    height: 50px;
}

.ms-n5 {
    height: 40px;
    margin-left: -45px;
    margin-top: 5px;
}

#dropdown-basic-button {
    margin: 20px 20px 20px 20px;
    background-color: #ff0b73!important;
}